{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New category{% endblock %}</h1>
{% endblock %}

{% block content %}
<section>
    <a href="javascript:history.back()" class="btn btn-secondary">Back to previous page</a>
</section>
<form method="post">
    <div class="form-group">
        <label for="key" class="form-label">Key</label>
        <input class="form-control" name="key" id="key" value="{{ request.form['key'] }}" required>
    </div>
    <div class="form-group">
        <label for="category" class="form-label">Category</label>
        <input class="form-control" list="category" name="category" value="{{ request.form['category'] }}" required>
        <datalist id="category">
            {% for value in category_list %}
            <option value="{{value[0]}}"></option>
            {% endfor %}
        </datalist>
    </div>
    <div class="form-group">
        <label for="destinationAcc" class="form-label">Destination account</label>
        <input class="form-control" list="destinationAcc" name="destinationAcc"
            value="{{ request.form['destinationAcc'] }}" required>
        <datalist id="destinationAcc">
            {% for value in destinationAcc_list %}
            <option value="{{value[0]}}"></option>
            {% endfor %}
        </datalist>
    </div>
    <input class="btn btn-primary" type="submit" value="Save">
</form>
{% endblock %}