{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit "{{ category['key'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="key">Key</label>
    <input name="key" id="key" value="{{ request.form['key'] or category['key'] }}" required>
    <label for="category">Category</label>
    <input name="category" id="category" value="{{ request.form['category'] or category['category'] }}" required>
    <label for="destinationAcc">Destination account</label>
    <input name="destinationAcc" id="destinationAcc"
        value="{{ request.form['destinationAcc'] or category['destinationAcc'] }}" required>
    <input type="submit" value="Save">
</form>
<hr>
<form action="{{ url_for('category.delete', id=category['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}