{% extends 'base.html' %}

{% block header %}
<script>
    $(document).ready(
        function () {
            $('#table tbody tr').each((i, tr) => {
                var score = Number(tr.cells[7].innerHTML);
                if (score < 80) {
                    $(tr).addClass('table-warning');
                }
            });
        }
    );
</script>

<h1>{% block title %}Transactions{% endblock %}</h1>
{% endblock %}

{% block content %}
<a href="{{url_for('home.index')}}" class="btn btn-danger">Restart</a>
<a href="{{url_for('transactions.download')}}" class="btn btn-success">Export csv</a>
<a href="{{url_for('transactions.index')}}" class="btn btn-secondary">Refresh</a>
{% for table in tables %}
<h2>{{titles[loop.index]}}</h2>
{{ table|safe }}
{% endfor %}

{% endblock %}