{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    <a href="javascript:history.back()" class="btn btn-secondary">Back to previous page</a>
</div>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="desc" class="form-label">Description</label>
        <input class="form-control" name="desc" id="desc" value="{{ request.form['desc'] or transaction['desc'] }}"
            required>
    </div>
    <div class="form-group">
        <label for="category" class="form-label">Category</label>
        <input class="form-control" list="category" name="category"
            value="{{ request.form['category'] or transaction['category'] }}">
        <datalist id="category">
            {% for value in category_list %}
            <option value="{{value[0]}}"></option>
            {% endfor %}
        </datalist>
    </div>
    <div class="form-group">
        <label for="destinationAcc" class="form-label">Destination Account</label>
        <input class="form-control" list="destinationAcc" name="destinationAcc"
            value="{{ request.form['destinationAcc'] or transaction['destinationAcc'] }}">
        <datalist id="destinationAcc">
            {% for value in destinationAcc_list %}
            <option value="{{value[0]}}"></option>
            {% endfor %}
        </datalist>
    </div>
    <input class="btn btn-primary" type="submit" value="Save">
</form>
{% endblock %}